<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title><h3>Contact</h3></mat-card-title>

  </mat-card-header>
  <mat-card-content>
    <div class="infoBox">
      <p><strong>addresse: </strong> esbjerg spangsbjerg kirkevej 12</p>
      <p><strong>Telefon:</strong> 34857214</p>
      <p><strong>Email:</strong> smartyphones@live.dk</p>
      <p><strong>åbeningstid:</strong> 31 februar 9:30-15:45</p>

    </div>

    <div class="infoBox" >
      <div class="mapouter"><div class="gmap_canvas"><iframe width="200" height="200" id="gmap_canvas" src="https://maps.google.com/maps?q=esbjerg%20spangsberjg%20kirkevej%2012&t=k&z=3&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.bitgeeks.net/divi-discount-elegant-themes-coupon/"></a></div><style>.mapouter{position:relative;text-align:right;height:200px;width:200px;}.gmap_canvas {overflow:hidden;background:none!important;height:200px;width:200px;}</style></div>
    </div>


  </mat-card-content>
  <mat-card-actions>

  </mat-card-actions>
  <mat-card-footer>

    <h4>dette er en skole opgave</h4>
  </mat-card-footer>
</mat-card>
