input{
  float: left;
  color: #333333;
  padding: 6px 6px;
  text-decoration: none;
  font-size: 16px;
}

.mat-button-toggle {
  border: 1px solid;
  height: 33px;
  width: 50px;
}

.mat-icon {
  padding-bottom: 16px;
}

.spacer {
  margin: auto;
}

.icon-spacer {
  margin: 90px
}

.mat-toolbar-second-row {
  background-color: #333333;
  color: aliceblue;
  height: 40px
}

.header {
  color: #333333;
  font-weight: bold;
  font-size: x-large;
}

.second-row {
  margin: auto;
  text-align-all: center;
}

.second-row span {
  margin: 50px;
  font-size: large;
}
