<mat-toolbar>
    <mat-toolbar-row>
      <span class="header">SmartyPhones</span>
      <span class="spacer"></span>
      <mat-button-toggle-group>
        <input matInput type="search" placeholder="Search">
        <mat-button-toggle (search)="$event">
          <mat-icon class="icon">search</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <mat-icon class="icon-spacer">contact_support</mat-icon>
      <mat-icon class="icon-spacer">person</mat-icon>
      <mat-icon class="icon-spacer" routerLink="/cart">shopping_cart</mat-icon>
    </mat-toolbar-row>
    <mat-toolbar-row class="mat-toolbar-second-row">
<div class="second-row">
  <span routerLink="/smartPhones">SmartPhones</span>
  <span class="spacer"></span>
  <span routerLink="/covers">Covers</span>
</div>
    </mat-toolbar-row>
</mat-toolbar>
