<div fxLayout="column"
     fxFill
     fxLayoutGap="10px">
  <div fxLayout="row">
  </div>
  <h4 *ngIf="loading"
      fxFill
      fxLayoutAlign="center center">
  </h4>
  <div fxLayout="row wrap"
       fxLayoutAlign="center center"
       *ngIf="covers && !loading">
    <div fxFlex="30"
         *ngFor="let cover of covers">
      <mat-card fxLayout="row"
                fxLayoutAlign="start">
        <mat-card-content>
          <img width="150" height="150">
        </mat-card-content>
        <mat-card-content>
          <mat-card-header routerLink="/covers/{{cover.id}}">{{cover.name}}</mat-card-header>
        </mat-card-content>
        <mat-card-content fxFlex fxLayoutAlign="center center">
          <mat-card-header>{{cover.price}},-</mat-card-header>
        </mat-card-content>
        <mat-card-actions fxLayout="row" fxLayoutGap="10px">
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
